				@font-face {
					font-family: 'mustard';
					src: url('../webfonts/1878Mustard.woff2') format('woff2'),
						url('../webfonts/1878Mustard.woff') format('woff');
					  font-display: auto;
				}

				.mustard{font-family: 'mustard' !important;}

						@font-face {
					font-family: 'apalu';
					src: url('../webfonts/156Apalu.woff2') format('woff2'),
						url('../webfonts/156Apalu.woff') format('woff');
					  font-display: auto;
				}

				.apalu{font-family: 'apalu' !important;}

						@font-face {
					font-family: 'frutilla';
					src: url('../webfonts/7210Frutilla.woff2') format('woff2'),
						url('../webfonts/7210Frutilla.woff') format('woff');
					  font-display: auto;
				}

				.frutilla{font-family: 'frutilla' !important;}

						@font-face {
					font-family: 'southern';
					src: url('../webfonts/9929Southern.woff2') format('woff2'),
						url('../webfonts/9929Southern.woff') format('woff');
					  font-display: auto;
				}

				.southern{font-family: 'southern' !important;}

						@font-face {
					font-family: 'newyork';
					src: url('../webfonts/7659Newyork.woff2') format('woff2'),
						url('../webfonts/7659Newyork.woff') format('woff');
					  font-display: auto;
				}

				.newyork{font-family: 'newyork' !important;}

						@font-face {
					font-family: 'whitehelle';
					src: url('../webfonts/9816Whitehelle.woff2') format('woff2'),
						url('../webfonts/9816Whitehelle.woff') format('woff');
					  font-display: auto;
				}

				.whitehelle{font-family: 'whitehelle' !important;}

						@font-face {
					font-family: 'cyrene';
					src: url('../webfonts/1172Cyrene.woff2') format('woff2'),
						url('../webfonts/1172Cyrene.woff') format('woff');
					  font-display: auto;
				}

				.cyrene{font-family: 'cyrene' !important;}

						@font-face {
					font-family: 'abygaer';
					src: url('../webfonts/8894Abygaer.woff2') format('woff2'),
						url('../webfonts/8894Abygaer.woff') format('woff');
					  font-display: auto;
				}

				.abygaer{font-family: 'abygaer' !important;}

						@font-face {
					font-family: 'nayla';
					src: url('../webfonts/1800Nayla.woff2') format('woff2'),
						url('../webfonts/1800Nayla.woff') format('woff');
					  font-display: auto;
				}

				.nayla{font-family: 'nayla' !important;}

						@font-face {
					font-family: 'hallenger';
					src: url('../webfonts/8821Hallenger.woff2') format('woff2'),
						url('../webfonts/8821Hallenger.woff') format('woff');
					  font-display: auto;
				}

				.hallenger{font-family: 'hallenger' !important;}

						@font-face {
					font-family: 'butler';
					src: url('../webfonts/3902Butler.woff2') format('woff2'),
						url('../webfonts/3902Butler.woff') format('woff');
					  font-display: auto;
				}

				.butler{font-family: 'butler' !important;}

						@font-face {
					font-family: 'father-mother';
					src: url('../webfonts/155Father-Mother.woff2') format('woff2'),
						url('../webfonts/155Father-Mother.woff') format('woff');
					  font-display: auto;
				}

				.father-mother{font-family: 'father-mother' !important;}

						@font-face {
					font-family: 'nattalia';
					src: url('../webfonts/5870Nattalia.woff2') format('woff2'),
						url('../webfonts/5870Nattalia.woff') format('woff');
					  font-display: auto;
				}

				.nattalia{font-family: 'nattalia' !important;}

						@font-face {
					font-family: 'comic-helvetica';
					src: url('../webfonts/2379Comic-Helvetica.woff2') format('woff2'),
						url('../webfonts/2379Comic-Helvetica.woff') format('woff');
					  font-display: auto;
				}

				.comic-helvetica{font-family: 'comic-helvetica' !important;}

						@font-face {
					font-family: 'oranienbaum';
					src: url('../webfonts/5078Oranienbaum.woff2') format('woff2'),
						url('../webfonts/5078Oranienbaum.woff') format('woff');
					  font-display: auto;
				}

				.oranienbaum{font-family: 'oranienbaum' !important;}

						@font-face {
					font-family: 'edensor';
					src: url('../webfonts/3956Edensor.woff2') format('woff2'),
						url('../webfonts/3956Edensor.woff') format('woff');
					  font-display: auto;
				}

				.edensor{font-family: 'edensor' !important;}

						@font-face {
					font-family: 'amatic-reguler';
					src: url('../webfonts/1930Amatic-Reguler.woff2') format('woff2'),
						url('../webfonts/1930Amatic-Reguler.woff') format('woff');
					  font-display: auto;
				}

				.amatic-reguler{font-family: 'amatic-reguler' !important;}

						@font-face {
					font-family: 'amatic-bold';
					src: url('../webfonts/1953Amatic-Bold.woff2') format('woff2'),
						url('../webfonts/1953Amatic-Bold.woff') format('woff');
					  font-display: auto;
				}

				.amatic-bold{font-family: 'amatic-bold' !important;}

						@font-face {
					font-family: 'switzerland';
					src: url('../webfonts/4385Switzerland.woff2') format('woff2'),
						url('../webfonts/4385Switzerland.woff') format('woff');
					  font-display: auto;
				}

				.switzerland{font-family: 'switzerland' !important;}

						@font-face {
					font-family: 'established';
					src: url('../webfonts/6731Established.woff2') format('woff2'),
						url('../webfonts/6731Established.woff') format('woff');
					  font-display: auto;
				}

				.established{font-family: 'established' !important;}

						@font-face {
					font-family: 'rosabelia';
					src: url('../webfonts/6824Rosabelia.woff2') format('woff2'),
						url('../webfonts/6824Rosabelia.woff') format('woff');
					  font-display: auto;
				}

				.rosabelia{font-family: 'rosabelia' !important;}

						@font-face {
					font-family: 'ltcushion';
					src: url('../webfonts/8112LTCushion.woff2') format('woff2'),
						url('../webfonts/8112LTCushion.woff') format('woff');
					  font-display: auto;
				}

				.ltcushion{font-family: 'ltcushion' !important;}

						@font-face {
					font-family: 'testimonia';
					src: url('../webfonts/9802tESTIMONIA.woff2') format('woff2'),
						url('../webfonts/9802tESTIMONIA.woff') format('woff');
					  font-display: auto;
				}

				.testimonia{font-family: 'testimonia' !important;}

						@font-face {
					font-family: 'aesthetic-violet';
					src: url('../webfonts/4541Aesthetic-Violet.woff2') format('woff2'),
						url('../webfonts/4541Aesthetic-Violet.woff') format('woff');
					  font-display: auto;
				}

				.aesthetic-violet{font-family: 'aesthetic-violet' !important;}

						@font-face {
					font-family: 'aclonica';
					src: url('../webfonts/43Aclonica.woff2') format('woff2'),
						url('../webfonts/43Aclonica.woff') format('woff');
					  font-display: auto;
				}

				.aclonica{font-family: 'aclonica' !important;}

						@font-face {
					font-family: 'ballantines-reguler';
					src: url('../webfonts/3095Ballantines-Reguler.woff2') format('woff2'),
						url('../webfonts/3095Ballantines-Reguler.woff') format('woff');
					  font-display: auto;
				}

				.ballantines-reguler{font-family: 'ballantines-reguler' !important;}

						@font-face {
					font-family: 'blackpool';
					src: url('../webfonts/7012Blackpool.woff2') format('woff2'),
						url('../webfonts/7012Blackpool.woff') format('woff');
					  font-display: auto;
				}

				.blackpool{font-family: 'blackpool' !important;}

						@font-face {
					font-family: 'celinea';
					src: url('../webfonts/6213Celinea.woff2') format('woff2'),
						url('../webfonts/6213Celinea.woff') format('woff');
					  font-display: auto;
				}

				.celinea{font-family: 'celinea' !important;}

						@font-face {
					font-family: 'reman';
					src: url('../webfonts/903Reman.woff2') format('woff2'),
						url('../webfonts/903Reman.woff') format('woff');
					  font-display: auto;
				}

				.reman{font-family: 'reman' !important;}

						@font-face {
					font-family: 'pinyon-script';
					src: url('../webfonts/2664Pinyon-Script.woff2') format('woff2'),
						url('../webfonts/2664Pinyon-Script.woff') format('woff');
					  font-display: auto;
				}

				.pinyon-script{font-family: 'pinyon-script' !important;}

		